$blue: #556ee6;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f46a6a;
$orange: #f1734f;
$yellow: #f1b44c;
$green: #34c38f;
$green-light: #50969B;
$green-disabled: #7AB3B7;
$teal: #050505;
$cyan: #50a5f1;

$white: #fff;
$gray-100: #f8f9fa;
$gray-1: #E8E8E8;
$gray-2: #EBEBEB;
$gray-3: #ABABAB;
$gray-200: #eff2f7;
$gray-300: #f9f9f9;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #74788d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$text-black: #333333;

$primary: #739B7B;
$secondary: $gray-300;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;

$topnav-bg: #282e3f;
$menu-item-color: #a6b0cf;
$menu-item-active-color: #556ee6;

$claim-form-red: #e8242b;
$claim-form-field-bg: #f1f4ff;
$claim-form-font-black: #3a3a3a;
$claim-bg-white: #ffffff;
$claim-table-alt-bg: #ece4f2;
$ada-field-bg: #d7d7d7;


