$blue: #556ee6;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f46a6a;
$orange: #f1734f;
$yellow: #f1b44c;
$green: #34c38f;
$green-light: #50969b;
$green-disabled: #7ab3b7;
$teal: #050505;
$cyan: #50a5f1;

$white: #fff;
$gray-100: #f8f9fa;
$gray-1: #e8e8e8;
$gray-2: #ebebeb;
$gray-3: #ababab;
$gray-200: #eff2f7;
$gray-300: #f9f9f9;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #74788d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$text-black: #333333;

$secondary: $gray-300;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;

$topnav-bg: #282e3f;
$menu-item-color: #a6b0cf;
$menu-item-active-color: #556ee6;

$claim-form-red: #e8242b;
$claim-form-field-bg: #f1f4ff;
$claim-form-font-black: #3a3a3a;
$claim-bg-white: #ffffff;
$claim-table-alt-bg: #ece4f2;
$ada-field-bg: #d7d7d7;

//primary
$primary: #739b7b;
$selection: #5f8767;
$left-pan-nav: #4e7b57;

//background
$background: $gray-300;
$breadcrum-bg: $gray-2;

//Icons
$default-icon: $green-light;
$icon-bg: #f2f2f2;

//Green
$green-light: #f1f5f2;
$green-light-hover: #eaf0eb;
$green-light-active: #d4e0d6;
$green-normal: #739b7b;
$green-normal-hover: #688c6f;
$green-normal-active: #5c7c62;
$green-dark: #56745c;
$green-dark-hover: #455d4a;
$green-dark-active: #344637;
$green-darker: #28362b;

//Text
$active-text: #333333;
$sub-head-text: #929292;
$sub-name-text: #ababab;
$link-text: #7259d6;
$view-more-text: #7259d6;
$astric-text: #d14848;

//Label
$label-1: #9edee8;
$label-2: #9ee8a8;
$label-3: #e89ee1;
$label-4: #e89e9e;


//Dashboard card
$card-1: #cfe0bb;
$card-2: #caeafe;
$card-3: #efa7c9;
$card-4: #c8f8ce;

//Lines
$input-field-stroke:#E2E2E2;
$input-field-icon: #C2C2C2;
$dropdown-icon:#929292;

//Table
$table-fill:#F9FAFB;
$table-stroke: #E2E2E3;

